.post {
    background-color: white;
    max-width: 800px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.post_header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.post_avatar {
    margin-right: 10px;
}

.post_text {
    padding: 15px;
}

.post_commentBox {
    display: flex;
    margin-top: 10px;
}

.post_input {
    padding: 6px;
    border: none;
    border-top: 1px solid lightgray;
    margin: 10px;
    flex: 1;
}

.post_button {
    padding: 5px;
    margin: 10px;
    color: #6082a3;
    border-radius: 5px;
    background-color: transparent;
    flex: 0;
}

.post_comments {
    padding: 15px;
}
