* {
    margin: 0;
}

.dashboard {
    background-color: #fafafa;
    
}

.dashboard_header {
    position: relative;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    
    
}

.dashboard_headerImage {
    object-fit: contain;
}

.dashboard_signup {
    display: flex;
    flex-direction: column;
}

.dashboard_posts {
    padding: 10px;
    display: flex;
    justify-content: center;
}
