* {
    margin: 0;
}

.dashboard {
    background-color: #fafafa;
}

.dashboard_header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}

.dashboard_signup {
    display: flex;
    flex-direction: column;
}
